/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    outdir = "$PWD/" + "outputs"
}

process {
    withName: 'CONTIGS_FROM_IDS|SUMMARIZE_CALLS' {
	    cpus = 1
	    memory = '8G'
	    time = 1.d
    }
}

includeConfig("conf/profiles.config")
