/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    outdir = "$PWD/" + "outputs-viral-contigs-identification"
}

includeConfig 'modules/diamond/nextflow.config'
includeConfig 'modules/viralverify/nextflow.config'
includeConfig 'modules/virfinder/nextflow.config'
includeConfig 'modules/virsorter/nextflow.config'
includeConfig 'modules/vibrant/nextflow.config'
