/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    outdir = "$PWD/" + "vibrant_outputs"
    dbdir = "$HOME/db"
    vibrant_db = "${params.dbdir}/vibrant_db"    
}

process {
    withName: 'DL_VIBRANT_DB' {
	    cpus = 1
	    memory = '16G'
	    time = 1.d
    }
    withName: 'VIBRANT' {
	    cpus = 10
	    memory = '60G'
	    time = 3.d
    }    
}

includeConfig("conf/profiles.config")
