/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    outdir = "$PWD/" + "virsorter2_outputs"
    dbdir = "$HOME/db"
    pfam_db = "${params.dbdir}/Pfam-A.hmm"    
}

process {
    withName: 'DL_PFAM_DB' {
	    cpus = 1
	    memory = '16G'
	    time = 1.d
    }
    withName: 'VIRALVERIFY' {
	    cpus = 10
	    memory = '60G'
	    time = 3.d
    }    
}

includeConfig("conf/profiles.config")
