/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    outdir = "$PWD/" + "diamond_outputs"
    dbdir = "$HOME/db"
    vir_prot_db = "${params.dbdir}/refseq_viral_proteins.dmnd"
}

process {
    withName: 'DL_VIRAL_PROTEIN_DB' {
	    cpus = 1
	    memory = '8G'
	    time = 1.d
    }
    withName: 'DIAMOND_BLASTX' {
	    cpus = 10
	    memory = '60G'
	    time = 3.d
    }    
}

includeConfig("conf/profiles.config")
