/*
 * -------------------------------------------------
 *  Nextflow config file
 * -------------------------------------------------
 */

params {
    outdir = "$PWD/" + "virsorter_outputs"
    dbdir = "$HOME/db"
    vs_db = "${params.dbdir}/vs_db"
    vs2_db = "${params.dbdir}/vs2_db"
}

process {
    withName: 'DL_VIRSORTER_DB|DL_VIRSORTER2_DB' {
	    cpus = 2
	    memory = '8G'
	    time = 1.d
    }
    withName: 'VIRSORTER|VIRSORTER2' {
	    cpus = 10
	    memory = '16G'
	    time = 3.d
    }    
}

includeConfig("conf/profiles.config")
